/* kittens for comments */

.kittenpanel {
	position: fixed;
	bottom: 20px;
	right: 0;
	background-color: #F2F2F2;
	width: 100px;
	padding: 1em;
	font-size: .8em;
	box-shadow: -3px 1px 6px #C0C0C0;
	display: none;
}
#modal-content {
	display: none;
	z-index: 10000;
	background-color: #C0C0C0;
	min-height: 200px;
	border: 1px solid #666;
	max-width: 80%;
	text-align: center;
	-moz-box-shadow: 0 0 90px 5px #000;
	-webkit-box-shadow: 0 0 90px #000;
}
#modal-content p, #modal-content h3 {
	color: #333;
}
#modal-content .close {
	background: url('../img/close.png') no-repeat right top;
	position: absolute;
	right: -15px;
	top: -15px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}
